VW_DOMAIN=https://my_vaultwarden_domain.com
VW_ADMIN_TOKEN=my_very_long_argon2_hash_token
SMTP_FROM_EMAIL=vaultwarden@my_mail_domain.com
SMTP_USERNAME=username@my_mail_domain.com
SMTP_PASSWORD=my_secure_mail_password