GITEA_DB_PASS=my_secure_db_password
GITEA__mailer__FROM=git@my_mail_domain.com
GITEA__mailer__SMTP_ADDR=smtp.eu.mailgun.org
GITEA__mailer__SMTP_PORT=465
GITEA__mailer__USER=username@my_mail_domain.com
GITEA__mailer__PASSWD=my_secure_mail_password