IMMICH_VERSION=immich_version
TZ=Country/City

UPLOAD_LOCATION=/your/immich/library/path
DB_DATA_LOCATION=/your/immich/postgres/path

DB_PASSWORD=my_secure_db_password
DB_USERNAME=db_username
DB_DATABASE_NAME=db_name